<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>자동차 정보 상세보기</h1>
    <hr>
    차종: <br>
    가격: <br>
    제조사: <br>
    연식: <br>
    <hr>
    <a href="/cars/modify?idx=">수정</a>
    <a href="/cars/delete?idx=">삭제</a>
</body>
</html>